@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 84.2% 60.2%;
        --primary-foreground: 0 85.7% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 0 84.2% 60.2%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Webkit browsers */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--muted));
    border-radius: 3px;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--muted)) transparent;
}

/* Edge and IE */
*::-ms-scrollbar {
    width: 6px;
    height: 6px;
}

*::-ms-scrollbar-track {
    background: transparent;
}

*::-ms-scrollbar-thumb {
    background-color: rgb(var(--muted));
    border-radius: 3px;
}

*::-ms-scrollbar-button {
    display: none;
}

* {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 18px;
}